.input {
	background: red;
	color: white;
}

.bar {
	background: #146EB4;
	color: white;
	font-family: Arial;
	font-size: 14;
}

.bar .gwt-Button {
	background: red;
	color: white;
	margin: 3px;
	margin-right: 10px;
}

.bar .gwt-Label,.bar .gwt-CheckBox,.bar .gwt-HTML,.bar .gwt-TextBox {
	margin: 3px;
}

.bar .username {
	font-weight: bold;
	font-style: italic;
}

.display .gwt-Label,.display .gwt-HTML {
	font-family: Arial;
	font-size: 14px;
	margin: 5px;
}

.display .name {
	font-weight: bold;
	color: grey;
	font-size: 20px;
	margin-bottom: 10px;
}

.display .gwt-HTML .name {
	font-weight: bold;
	color: grey;
	font-size: 16px;
	margin: 0px;
}

.display .price {
	color: red;
	font-weight: bold;
	margin-left: 50px;
}

.display .gwt-HTML .price {
	margin-left: 30px;
}

.messageBar {
	background: orange none repeat scroll 0 0;
	color: white;
	text-align: center;
}