/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 28;	
	color: #777777;
	margin: 20px;	
}

.mvp4gshowcase .gwt-TabPanelBottom {
	height: 500px;
	width: 850px;
}

.mvp4gshowcase .gwt-TabPanel {
	margin: 20px;
}

.mvp4gshowcase .gwt-HTML {
	margin-left: 20px;	
}

.mvp4gshowcase .gwt-Tree {
	margin: 0px;
}