/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 28px;
	color: #777777;
	margin: 20px;	
}

.mvp4gshowcase .gwt-TabPanelBottom .gwt-Frame {
	height: 700px;
	width: 850px;
}

.demo-frame {
    height: 680px;
    width: 850px;
    margin: 20px;
}

.mvp4gshowcase .gwt-TabPanel .gwt-Frame {
	margin: 20px;
}

.mvp4gshowcase .gwt-HTML {
	margin-left: 20px;	
}

.mvp4gshowcase .gwt-Tree {
	margin: 0px;
}